*.ipynb filter=lfs diff=lfs merge=lfs -text
ProyectoEndToEnd.ipynb filter=lfs diff=lfs merge=lfs -text
Proyecto[[:space:]]EndToEnd.ipynb filter=lfs diff=lfs merge=lfs -text
.ipynb filter=lfs diff=lfs merge=lfs -text
